<h1 class="mb-4">
  <%= t('.header') %>
</h1>

<div class="mb-4">
  <p>
    <%= @question.body %>
  </p>

  <%= render 'form', answer: @answer %>
</div>

<%= link_to t('.back'), admin_question_path(@question) %>
