<br/>
<br/>
<br/>
<hr/>
<footer>
  <p><%= current_year %> | Yan | <%= github_url('fatwebdev', 'test-guru') %></p>
  <p>Educational project in online-school Thinknetica</p>
  <p><%= link_to 'online school Thinknetica', 'http://thinknetica.com/', target: :_blank %></p>
</footer>