<br/>
<br/>
<br/>
<hr/>
<p>
  Today is <%= Date.today.year %> year. And in 2019 Yan created <a href="https://github.com/fatwebdev/test-guru" target="_blank">test-guru</a> (rails application for creating and passing tests) when he was learning in online school <a href="http://thinknetica.com/" target="_blank">Thinknetica</a>.
</p>